@import '../../../styles/settings.scss';

.tableSummary {
  font-size: $base-size*1.5;
}

.tableHead {
  font-size: $base-size*2;
  padding: 10px 0;
  background: $font-color-hover;  
}

.tableBody {
  padding: 6px 0;
  border: 1px solid $font-color-hover;
  border-top: none;
}

.tableHead, .tableBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .name {
    width: 55%;
    padding-left: 20px;
  }

  .number {
    width: 15%;
    text-align: center;
  }

  .totalPrice {
    font-weight: bold;
  }
}

.payOrderWrapper {
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  float: right;
  border: 1px solid $font-color-hover;
  text-align: center;

  .payOrderTitle {
    font-size: $base-size*1.6;
  }

  .grandTotal {
    padding: 20px;
    font-size: $base-size*3;
  }

  .buttonOrder {
    margin-top: 20px;
    padding: 10px;
    transition: $transition;
    cursor: pointer;
    background: $font-color-hover;
    border-radius: $radius;
    &:hover {
      background: green;
    }
  }
}