@import '../../../styles/settings.scss';

.tableSummary {
  font-size: $base-size*1.5;
}

.tableHead {
  font-size: $base-size*2.5;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  padding: 10px 0;
  background: $font-color-hover;  
}

.tableBody {
  padding: 6px 0;
  font-size: $base-size*1.6;
  border: 1px solid $font-color-hover;
  border-top: none;
}

.tableBody:last-child {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.tableHead, .tableBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .name {
    width: 55%;
    padding-left: 20px;
  }

  .number {
    width: 15%;
    text-align: center;
  }

  .totalPrice {
    font-weight: bold;
  }
}

.payOrderWrapper {
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  float: right;
  text-align: center;

  .payOrderTitle {
    font-size: $base-size*1.6;
  }

  .grandTotal {
    margin-bottom: 20px;
    padding: 20px;
    font-size: $base-size*3;
  }
}

@media (max-width: 768px) {
  .tableHead {
    font-size: $base-size*2;
  }
}