@import '../../../styles/settings.scss';

.productBox {
  margin: 10px;
  max-width: 28%;
  color: $background-color;
  text-align: center;
  background: $background-color-second;
  border-radius: 10px;
  transition: $transition;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 12px  rgba(0,0,0,0.2);
    transform: scale(1.02);
    .productName, .productText {
      color: $font-color;
    }
    .productPrice, .productTag .tag {
      color: white;
      text-shadow: 0 0 6px $font-color,
                 0 0 24px $font-color;
    }
  }
}

.productBox .productName {
  min-height: 50px;
  font-size: 16px;
  align-items: center;
  transition: $transition;
}

.productBox .productTag {
  min-height: 34px;
  text-transform: uppercase;
  border-bottom: $background-color solid 1px;
  
  .tag {
    transition: $transition;
    font-weight: bold;
    font-size: 20px;
    color: $background-color;
    text-shadow: 0 0 6px $font-color,
                 0 0 24px $font-color;    
  }
}

.productBox .productText {
  border-bottom: $background-color solid 1px;
}

.productBox .productPrice {
  transition: $transition;
  color: $background-color;
  font-weight: bold;
  font-size: 22px;
}

.productImg img {
  width: 100%;
}