@import '../../../styles/settings.scss';

.productBox {
  margin: 10px;
  max-width: 28%;
  color: $background-color;
  text-align: center;
  background: $background-color-second;
  border-radius: 10px;
  transition: $transition;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 12px  rgba(0,0,0,0.2);
    transform: scale(1.02);
    .productName, .productText {
      color: $font-color;
    }
     .productTag .tag {
      color: white;
      letter-spacing: 10px;
    }
    .productPrice {
      padding: 18px 0;
      color: green;
      font-size: 26px;
      font-weight: 900;
      text-shadow: 0 0 4px white,
      0 0 8px white,
      0 0 16px white,
      0 0 30px white,
      0 0 40px white,
      0 0 50px white,
      0 0 700px white;
    }
  }
}

.productBox .productName {
  min-height: 50px;
  font-size: 16px;
  align-items: center;
  transition: $transition;
}

.productBox .productTag {
  min-height: 34px;
  text-transform: uppercase;
  border-bottom: $background-color solid 1px;
  
  .tag {
    transition: $transition;
    font-weight: bold;
    font-size: 20px;
    color: $background-color;
    color: whitesmoke;
    letter-spacing: 2px;
  }
}

.productBox .productText {
  border-bottom: $background-color solid 1px;
}

.productBox .productPrice {
  transition: $transition;
  color: $background-color;
  color: white;
  font-weight: 600;
  font-size: 22px;
  padding: 8px 0;
}

.productImg img {
  width: 100%;
}

@media (max-width: 768px) {

  .productBox {
    max-width: 45%;
  }
}

@media (max-width: 767px) {

  .productBox {
    max-width: 100%;
  }
}