@import '../../../styles/settings.scss';

.productWrapper {
  display: flex;
  background: rgb(183, 193, 194);
  padding: 30px 0;
  border-radius: 20px; 
}

.imgWrapper {
  width: 50%;

  text-align: center;
  img {
    height: 600px;
    max-width: 90%;
    transition: ease .4s;
    border-radius: 20px;
    border: 1px solid $font-color-hover;
    &:hover {
      transform: scale(1.3);
      border-radius: 0;
    }
  }
}

.productContent {
  font-size: 18px;
  width: 50%;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.productDescription {
  text-align: justify;
}

.productAction {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 28px;
  align-items: center;

  .productPrice {
    font-size: 28px;
    font-weight: bold;
  }

  .button {
    padding: 20px;
    border: 2px solid $font-color-hover;
    background: $font-color-hover;//inherit;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: ease .4s;
    &:hover {
      background: $background-color;
    }
  }
}