@import '../../../styles/settings.scss';

.product {
  background: $background-color-second;
  border-radius: $radius;
  padding: 10px 0;
}

.productWrapper {
  display: flex;
}

.imgWrapper {
  width: 50%;

  text-align: center;
  img {
    height: 500px;
    max-width: 90%;
    transition: $transition;
    border-radius: $radius;
    &:hover {
      transform: scale(1.3);
      border-radius: 0;
    }
  }
}

.productContent {
  font-size: 18px;
  width: 50%;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.productDescription {
  text-align: justify;
}

.productPrice {
  font-size: 28px;
  font-weight: bold;
}

.productAction {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 28px;
  align-items: center;

  .btn {
    margin: 0 10px;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .productWrapper {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .productWrapper {    
    display: flex;
    flex-direction: column-reverse;
  }

  .productContent {
    font-size: 12px;
    width: 100%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .productPrice {
    font-size: 20px;
  }

  .imgWrapper {
    width: 100%;
  }
}