@import '../../../styles/settings.scss';


.cartProduct {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: grey;
}

.cartProduct .cartProdContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartProduct .cartProdText {

}

.cartProduct .cartProdPrice {

}

.cartProduct {
  img {
  height: 200px;
  }
} 