@import '../../../styles/settings.scss';

.cart {
  display: flex;
  flex-direction: column;
}

.cartProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0;
    border-radius: $radius;
    background: $background-color-second;
}

.cartProdContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-items: center;
  border-right: 2px solid $background-color;

  .cartProdImg {
    display: flex;

    img{
      height: 200px;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }
  }
  .activeContent{
    display: flex;

    .cartProdText {
      margin: auto 0;
      width: 80%;
      padding: 0 10px;
      justify-items: center;
      text-align: center;
  
      .cartProdName {
        padding: 10px 0;
        font-size: 18px;
      }
  
      .cartProdDescr {
        text-align: justify;
      }
    }
    
    .cartProdPrice {
      margin: auto 0;
      width: 20%;
      text-align: center;
      padding: 20px;
    }
  }
}

.productCartCounter {
  width: 20%;
  margin: auto 0;
}

.summaryWrapper {
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  right: 0;
  text-align: center;
  .totalPrice {
    margin: 30px 0;
  }
}

@media (max-width: 576px) {

  .cartProduct {
    display: flex;
    flex-direction: column;
}

  .cartProdContent {
    flex-direction: column;
    border-right: none;
    .cartProduct {
      background: #000;
    }

    .cartProdImg {
      justify-content: center;
      img{
        height: 120px;
        border-radius: 0;
      }
    }
    .activeContent {
      font-size: 12px;
      .cartProdText {
        width: 80%;
  
        .cartProdName {
          font-size: 14px;
        }
      }
    }
  
    .cartProdPrice {
      width: 20%;
    }
  }

  .summaryWrapper {
    margin-top: 0;
    padding: 0;
    width: 300px;
    display: contents;
    .totalPrice {
      margin: 10px 0;
    }
  }
}