@import '../../../styles/settings.scss';

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-header;
  font-size: 40px;
  text-transform: lowercase;
}

.burger {
  display: none;
}

.navLink {
  margin: 10px;
  padding: 20px 10px;
}

@media (max-width: 768px) {
  .navLink {
    margin: 4px;
    padding: 16px 4px;
  }
}

@media (max-width: 767px) {

  .navMenu {
    max-height: 136px;
  }
  
  .navLink {
    display: none;
  }  

  .burger {
    display: flex;
    position: absolute;
    top: 50px;
    right: 40px;
  }
}