@import '../../../styles/settings.scss';

.navMenu {
  display: flex;
  justify-content: space-between;
  font-family: $font-text;
  font-size: 40px;
  text-transform: lowercase;
}

.link {
  margin: 10px;
  padding: 20px;
  &:hover {  
    color: $font-color-hover;
  }
}