/* colors */
$background-color: #929D9E;//#d1d1d1;
$font-color:#fff;
$font-color-hover: #d1d1d1;

/* fonts */
$font-header: 'Raleway', sans-serif;
$font-text: 'Roboto Slab', serif;

/* others */
$base-size: 12px;